* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(0, 0, 0, 0.8);
  color: antiquewhite;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: TechMono;
  position: relative;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../../assets/tictactoebg.png);
  background-size: cover;
  opacity: 0.3;
  z-index: -1;
}
