@font-face {
  font-family: TechMono;
  src: url(../../Fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.8);
  color: antiquewhite;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: TechMono;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../../assets/tictactoebg.png);
  background-size: cover;
  opacity: 0.3;
  z-index: -1;
}

.title {
  text-align: center;
  font-size: 5.5rem;
  color: antiquewhite;
  text-shadow: 5px 10px 8px black;
  border-bottom: 2px solid rgba(0, 0, 0, 0.9);
}

.markSymbols {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  color: white;
  margin: 0.5rem;
}

.markSymbols > span {
  font-size: 2rem;
}

.scoresAndNames {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.scoresAndNames > span {
  font-size: 3rem;
  width: 2ch;
}

.hyphen {
  color: white;
}

.scoresAndNames > input {
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2.25px solid black;
  font-size: 1.5rem;
  font-family: TechMono;
  max-width: 15ch;
  color: white;
  text-overflow: ellipsis;
  padding: 0.25rem 0.35rem;
}

.scoresAndNames > input::-moz-placeholder {
  font-size: 1rem;
  color: black;
  opacity: 0.6;
}

.scoresAndNames > input:-ms-input-placeholder {
  font-size: 1rem;
  color: black;
  opacity: 0.6;
}

.scoresAndNames > input::placeholder {
  font-size: 1rem;
  color: black;
  opacity: 0.6;
}

.ticTacToe-container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-auto-flow: row;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  width: 450px;
  height: 450px;
  margin: 0 auto;
  margin-top: 1.5rem;
  background-color: white;
  border: 3px solid black;
}

.squares {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.squares:nth-child(1),
.squares:nth-child(2),
.squares:nth-child(3) {
  border-top: none;
}

.squares:nth-child(7),
.squares:nth-child(8),
.squares:nth-child(9) {
  border-bottom: none;
}

.squares:nth-child(1),
.squares:nth-child(4),
.squares:nth-child(7) {
  border-left: none;
}

.squares:nth-child(3),
.squares:nth-child(6),
.squares:nth-child(9) {
  border-right: none;
}

.options {
  display: flex;
  gap: 3.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 1.8rem;
}

.squares.x,
.squares.o {
  cursor: not-allowed;
}

.squares.x::before,
.squares.x::after,
.squares.o::before,
.squares.o::after {
  background-color: black;
}

.ticTacToe-container.x .squares:not(.x):not(.o):hover::before,
.ticTacToe-container.x .squares:not(.x):not(.o):hover::after,
.ticTacToe-container.o .squares:not(.x):not(.o):hover::before,
.ticTacToe-container.o .squares:not(.x):not(.o):hover::after {
  background: rgb(180, 180, 180);
}

.squares.x::before,
.squares.x::after,
.ticTacToe-container.x .squares:not(.x):not(.o):hover::before,
.ticTacToe-container.x .squares:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 120px;
}

.squares.x::before,
.ticTacToe-container.x .squares:not(.x):not(.o):hover::before {
  rotate: 45deg;
}

.squares.x::after,
.ticTacToe-container.x .squares:not(.x):not(.o):hover::after {
  rotate: -45deg;
}

.squares.o::before,
.squares.o::after,
.ticTacToe-container.o .squares:not(.x):not(.o):hover::before,
.ticTacToe-container.o .squares:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.squares.o::before,
.ticTacToe-container.o .squares:not(.x):not(.o):hover::before {
  width: 120px;
  height: 120px;
}

.squares.o::after,
.ticTacToe-container.o .squares:not(.x):not(.o):hover::after {
  width: 90px;
  height: 90px;
  background: white;
}

.result {
  display: flex;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  transition: opacity 300ms ease-out;
  pointer-events: none;
}

.show {
  opacity: 1;
  pointer-events: auto;
}

.scoresAndNames > .swapButton {
  cursor: pointer;
  font-size: 2.5rem;
  text-align: center;
  width: 4ch;
  font-weight: 1000;
  transition: scale 200ms ease-out;
}

.swapButton:hover {
  scale: 1.5;
}

.options > button {
  cursor: pointer;
  font-size: 1.4rem;
  padding: 0.25rem 0.5rem;
  padding-bottom: 0.1rem;
  border-radius: 10px;
  font-weight: 600;
}

.result button {
  font-size: 3rem;
  padding: 0.75rem 1rem;
}

.result button,
.options > button {
  font-family: TechMono;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 8px black;
  background: antiquewhite;
  cursor: pointer;
  transition: color, background 250ms ease-in, font-weight 250ms linear;
}

.result button:hover,
.options > button:hover {
  background: rgba(0, 0, 0, 0.9);
  color: antiquewhite;
  border-color: antiquewhite;
  font-weight: 500;
  box-shadow: 3px 3px 8px antiquewhite;
}

.result > .undoRestartButton {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=main.css.map */